body { padding-bottom: 70px; }

.item_price {
	float:right;
}

[draggable] {
	cursor: move;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.over {
	outline: none;
	border-color: #EDD29E;  /*#9ecaed*/
	box-shadow: 0 0 10px #EDD29E;
}