<div class="row">
  <div class="col-lg-6">
    <H1>Create a Tab</H1>
  </div>
  <div class="col-lg-6">
    <form class="tab_image" action="/tabs/image_new" method="post" role="form">
      <div class="form-group">
        <label for="image">From Image</label>
        <input id="image" name="image" type="file" accept="image/*" id="capture" capture="camera" />
      </div>
    </form>
  </div>
</div>
<form class="tab_input" action="/tabs/new" method="post" role="form">
  <% if @tab && (! @tab.raw_text.nil?) %>
    <div class="row">
      <div class="col-lg-12">
        <textarea id="raw_text" name="raw_text"></text>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" style="overflow: hidden;">
      <h4>Quantity</h4>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6">
      <h4>Item Name</h4>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
      <h4>Price</h4>
    </div>
  </div>
  <% (1..10).each do |index| %>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
        <input type="text" class="form-control text-right" placeholder="1" value="1" name="item_<%= index %>[quantity]" />
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6">
        <input type="text" class="form-control" placeholder="Item #<%= index %>" value="" name="item_<%= index %>[name]" />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <input type="text" class="form-control" pattern="\d+(\.\d{2})?" placeholder="0.00" value="" name="item_<%= index %>[price]" />
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="control-group">
      <a id="more_fields" href="#"> Add another item </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-lg-offset-4">
      <button type="submit" class="btn btn-success btn-lg col-lg-12" value="submit" >Use This!</button>
    </div>
  </div>
</form>
