<ul class="pull-right nav navbar-nav">
  <% if current_user.nil? %>
    <% unless request.path_info == "/login" %>
    <li><a href="/login">Login</a></li>
    <% end %>
    <% unless request.path_info == "/users/new" %>
    <li><a href="/users/new">Sign Up</a></li>
    <% end %>
  <% else %>
    <li><a href="#"><%= current_user.email %></a></li>
    <li><a href="/signout">Sign Out</a></li>
  <% end %>
</ul>
